.batman {
  font-family: Arial, sans-serif;
  border: 2px solid black;
  width: 1000px;

  padding: 20px;
  margin: auto;
  border-radius: 25px;
  /*background-color: lightslategray;*/
}

.wonder-woman {
  font-family: 'Courier New', monospace;
  border: 2px solid black;
  width: 1000px;
  padding: 20px;
  margin: auto;
  margin-top: 3px;
  border-radius: 25px;
  /*background-color:rgb(243, 51, 89) */ 
} 

.superman {
    font-family: Helvetica, sans-serif;
    border: 2px solid black;
    width: 1000px;
    padding: 20px;
    margin: auto;
    margin-top: 3px;
    border-radius: 25px;
   /* background-color:royalblue;
    */
  }

  .spiderman {
    font-family: Garamond, serif;
    border: 2px solid black;
    width: 1000px;
    padding: 20px;
    margin: auto;
    border-radius: 25px;
  }

  .ironman {
    font-family: 'Courier New', monospace;
    border: 2px solid black;
    width: 1000px;
    padding: 20px;
    margin: auto;
    margin-top: 3px;
    border-radius: 25px;
  }

  .thor {
    font-family: 'Trebuchet MS', sans-serif;
    border: 2px solid black;
    width: 1000px;
    padding: 20px;
    margin: auto;
    margin-top: 3px;
    border-radius: 25px;
  }

  h1 {
     font-family: Comic Sans MS, Comic Sans, cursive; 
  }